.title {
  font-family: 'GothamPro-Bold';
  font-weight: normal;
  text-transform: uppercase;
}

.menu__item,
.promo__slider,
.column__item,
.social__link {
  text-decoration: none;
  color: #000;
}

.header{
  max-width: 1030px;
  min-width: 320px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
  padding-top: 33px; 
  font: normal 12px/11px 'GothamPro-Bold';
  text-transform: uppercase;
}

.menu_left-wrap,
.menu_right-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header__logo {
  width: 55px;
  height: 57px;
  margin-right: 45px;
  background: url(../img/Axion-logo-1.png) center no-repeat;
  background-size: cover;
}

.menu_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 334px;
  height: 24px;
}

.menu_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 24px;
}

.menu__item {
  height: 11px;
  margin-right: 35px;
}

.menu__item:hover {
 opacity: 0.7;
}

.signin {
  max-width: 49px;
}
.search {
  position: relative;
  align-self: center;
  width: 178px;
  height: 28px;
}

.search__input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  font: normal italic 14px 'GothamPro';
  color: #000;
}

.search__button {
  position: absolute; 
  top: 25%;
  right: 0px;
  width: 16px;
  height: 14px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search__button:before {
  content: "\f002";
  font: 14px FontAwesome;
  color: #000;
}

.cart {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 54px;
}

.cart__icon {
  display: inline-block;
  vertical-align: middle;
  min-width: 15px;
  min-height: 15px;
  border-radius: 50%;
  padding: 2px 5px 0 5px;
  font-size: 10px;
  background-color: #000;
  color: #fff;
}

.lang {
  margin: 0;
  padding-top: 2px;
  align-self: flex-start;
  height: 20px;
  cursor: pointer;
}
.lang-id {
  width: 20px;
  height: 20px;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1030px;
  min-width: 320px;
  height: 280px;
  margin: 0 auto 54px auto;
  padding: 10px 0 0 59px;
  background: url(../img/background_promo.jpg) no-repeat;
  background-size: cover;
}

.promo__title {
  max-width: 195px;
  height: 87px;
  font: normal 30px/29px 'GothamPro-Bold';
  text-transform: uppercase;
  color: #fff;
}

.promo__slider {
  position: relative;
  width: 122px;
  padding-top: 17px;
  font: normal 12px/11px 'GothamPro-Bold';
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.promo__arrow {
  position: absolute;
  display: inline-block;
  top: 70%;
  right: 0;
  width: 43px;
  line-height: 11px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .body-wrap {
    max-width: 930px;
  }
  .header{
    max-width: 930px;
  }

  .menu {
    margin-bottom: 39px;
    padding-top: 28px;
  }

  .header__logo {
    height: 62px;
    width: 61px;
    margin-right: 29px;
  }

  .search {
    position: relative;
    align-self: center;
    height: 28px;
    width: 161px;
    margin-right: 33px;
  }
  
  .signin {
    margin-right: 25px;
  }

  .cart {
    width: 53px;
    margin-right: 27px;
  }

  .lang-id {
    width: 18px;
  }

  .promo {
    height: 253px;
    max-width: 930px;
    margin: 0 auto 67px auto;
    padding: 5px 0 0 54px;
  }

  .promo__title {
    max-width: 209px;
    height: 85px;
  }

  .promo__slider {
    width: 130px;
    padding-top: 13px;
  }

  .promo__arrow {
    top: 70%;
    right: 0;
    width: 46px;
    line-height: 11px;
  }
}

@media (min-width: 769px) and (max-width: 929px) {
  .header__logo {
    margin-right: 20px;
  }

  .search {
    position: relative;
    align-self: center;
    height: 28px;
    max-width: 48px;
  }

  .search__input {
    display: none;
  }
}

@media (max-width: 768px){
 .body-wrap {
    max-width: 768px;
    width: 100%;
  }

  .header{
    padding: 0 43px 0 43px;
  }

  .header__logo {
    width:156px;
    height: 34px;
    background: url(../img/logo-mobile.png) center no-repeat;
    background-size: cover;
  }

  .menu_left,
  .menu_right {
    display: none;
  }

  .toggle {
    position: relative;
    display: block;
    width: 61px;
    height: 9px; 
    background: #000;
    cursor: pointer;
    transform: translateY(-8px);
  }

  .toggle:after {
    position: absolute;
    transform: translateY(190%);
    width: 100%;
    height: 100%;
    content: ''; 
    background: inherit;
  }
}

@media (max-width: 375px) {
  .header{
    padding: 0 48px 0 48px;
  }

  .header__logo {
    width:104px;
    height: 22px;
  }

  .toggle {
    width: 41px;
    height: 5px;
    transform: translateY(-4px);
  }
}

@media (max-width: 320px) {
  .header{
    padding: 0 20px 0 20px;
  }
}

.blog {
  display: none;
}

.carousel {
  display: none;
}

.stories {
  display: none;
}

.feed {
  display: none;
}

.footer {
  display: none;
}
