@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}