*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrap {
    font-family: 'GothamPro';
    max-width: 1170px;
    min-width: 320px;
    width: 88%;
    margin: 0 auto;
}
